<h1> Events </h1>
<ul>
<li><%= link_to 'Exeo Japan', exeo_japans_url%></li>
<li><%= link_to 'Otokon Japan', otokon_japans_url%></li>
<li><%= link_to 'Party Japan', party_japans_url%></li>
<li><%= link_to 'Party Youbride', youbrides_url%></li>
</ul>